<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almacen.keplerclientesapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BusquedaActivity"
            android:parentActivityName=".activity.inicioActivity"
            />
        <activity
            android:name=".EstadodeCuentaActivity"
            android:parentActivityName=".activity.inicioActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityFactuDetall"
            android:parentActivityName=".EstadodeCuentaActivity" />
        <activity
            android:name=".activity.Carrito.CarritoComprasActivity"
            android:parentActivityName=".activity.inicioActivity" />
        <activity
            android:name=".activity.Pedidos.ActivityConsulCoti"
            android:parentActivityName=".activity.inicioActivity" />
        <activity
            android:name=".activity.Pedidos.ActivityDetallCoti"
            android:parentActivityName=".activity.Pedidos.ActivityConsulCoti" />
        <activity
            android:name=".activity.Pedidos.ActivityConsulPedi"
            android:parentActivityName=".activity.inicioActivity" />
        <activity
            android:name=".activity.Pedidos.ActivityDetallPedi"
            android:parentActivityName=".activity.Pedidos.ActivityConsulPedi" />
        <activity
            android:name=".DetalladoProductosActivity"
            android:parentActivityName=".BusquedaActivity" />
        <activity
            android:name=".activity.inicioActivity"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.PrimeraPaActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>